* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #939DA5;
}

.main-section {
  background: linear-gradient(rgba(17,39,58,0.7), rgba(17,39,58,0.7)),image-url('doctors.jpg') no-repeat center center;
  background-size: auto, auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.main-section {
  height: 664px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  padding-top: 40px;
  padding-bottom: 56px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.text-center, .pricing .pricing-item .panel-body .pricing-button {
  text-align: center;
}

.text-inverse, .infographic-grid-list {
  color: #ffffff;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}
p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.main-section .container .btn {
  margin-top: 16px;
}

.btn-lg, .btn-group-lg > .btn {
  font-size: 12px;
  letter-spacing: 1.2px;
  padding: 12px 16px;
  text-align: center;
}


.btn-primary {
  background-color: hsl(188, 48%, 49%);
  color: #FFFFFF;
  border-color: #2e6da4;
}

.btn-primary:hover {
  background-color: #4bc5d8;
}

.btn {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  left: 200px;
  text-decoration: none !important;
}

.btn-block {
  display: block;
  width: 100%;
}


.btn-lg, .btn-group-lg > .btn {
  font-size: 12px;
  letter-spacing: 1.2px;
  padding: 12px 16px;
}


