<h3>Agendamento de Consulta Médica</h3>
<hr>
<div class="card style="width: 18rem;">
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nome do Paciente</label>
        <div class="col-10">
          <select id="disabledSelect" class="form-control">
            <option>Sr. Ciclano de Tal</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nome do Doutor</label>
        <div class="col-10">
          <select id="disabledSelect" class="form-control">
            <option>Dr. Fulano de Tal </option>
          </select>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Date e Horário</label>
        <div class="col-10">
        </div>
      </div>

      
      
        
      <br>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success btn-lg btn-block">Confirmar agendamento</button>
        </div>
      </div>
    </form>
  </div>
</div>



